* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    padding: 0 50px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: antiquewhite;
    height: 100px;
    margin-top: 5px;
}

.navbar h1 {
    padding: 10px;
}

.content {
    display: flex;
    height: 480px;
    gap: 20px;
    margin-top: 3px;
    flex-wrap: wrap;
}

.content_box {
    background-color: aqua;
}

.secondary {
    background-color: aquamarine;
    height: 480px;
    margin-top: 3px;
}

.footer {
    background-color: bisque;
    margin-top: 3px;
    height: 50px;
}

.content .content_box:nth-child(even) {
    flex: 1;
}

.content .content_box:nth-child(odd) {
    width: 50%;
    ;
}