* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1540px;
    padding: 0px 50px;
    width: 100%;
    margin: 0px auto;
}

li {
    list-style-type: none;
    padding-bottom: 10px;
}

.fa-solid {
    font-size: 30px;
}

nav.navbar {
    padding: 30px 0px;
}

.navbar_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navabr_logo img {
    width: 100%;
    height: auto;
}

.navabr_logo {
    width: 13%;
}

.expertise_sec {
    background: aquamarine;
    padding: 100px 0px 200px;
}

a.btn {
    padding: 18px 25px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 27px;
    font-weight: 700;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    gap: 6px;
}

a.btn:hover {
    background: black;
    color: white;
    transition: all ease-in-out 0.3s;
}

.expertise_left a {
    text-decoration: none;
}

.expertise_left {
    width: 33.2%;
}

.expertise_left p {
    padding: 15px 0;
}

.expertise_right {
    display: flex;
    flex: 1;
}

.expertise_sec_main {
    display: flex;
}


.expertise_brand.left_brand {
    width: 50%;
}

.expertise_brand.right_brand {
    flex: 1;
}

.expertise_brand ul {
    padding-left: 26px;
}

.expertise_brand ul li {
    position: relative;
}

.expertise_brand ul li::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 2px;
    background-color: black;
    left: -22px;
    top: 9px;
}

.footer {
    background: #333333;
    color: white;
    text-align: center;
}

.footer_main p {
    padding: 45px 0px;
}

.footer_bottom a {
    color: blue;
}