* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h2 {
    padding: 5px;
}

h3 {
    padding: 5px;
}

.navbar {
    background-color: antiquewhite;
    height: 50px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
}

.left {
    width: 80%;
    background-color: aqua;
    height: 400px;
}

.right {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.box_2 {
    height: 100px;
    background-color: aquamarine;
}

.box_3 {
    height: 100px;
    background-color: blanchedalmond;
}

.footer {
    background-color: beige;
    height: 50px;
}