@font-face {
    font-family: 'Rethink Sans';
    src: url('RethinkSans-BoldItalic.woff2') format('woff2'),
        url('RethinkSans-BoldItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rethink Sans';
    src: url('RethinkSans-ExtraBold.woff2') format('woff2'),
        url('RethinkSans-ExtraBold.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rethink Sans';
    src: url('RethinkSans-Regular.woff2') format('woff2'),
        url('RethinkSans-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rethink Sans';
    src: url('RethinkSans-Italic.woff2') format('woff2'),
        url('RethinkSans-Italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rethink Sans';
    src: url('RethinkSans-ExtraBoldItalic.woff2') format('woff2'),
        url('RethinkSans-ExtraBoldItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rethink Sans';
    src: url('RethinkSans-Regular.woff2') format('woff2'),
        url('RethinkSans-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rethink Sans';
    src: url('RethinkSans-MediumItalic.woff2') format('woff2'),
        url('RethinkSans-MediumItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rethink Sans';
    src: url('RethinkSans-Medium.woff2') format('woff2'),
        url('RethinkSans-Medium.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rethink Sans';
    src: url('RethinkSans-Italic.woff2') format('woff2'),
        url('RethinkSans-Italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rethink Sans';
    src: url('RethinkSans-Bold.woff2') format('woff2'),
        url('RethinkSans-Bold.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rethink Sans';
    src: url('RethinkSans-SemiBold.woff2') format('woff2'),
        url('RethinkSans-SemiBold.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rethink Sans';
    src: url('RethinkSans-SemiBoldItalic.woff2') format('woff2'),
        url('RethinkSans-SemiBoldItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

